extends layout


block content

  .navbar.navbar-default.navbar-fixed-top.bottom-shadow(role='navigation')
    .container-fluid
        .navbar-header
          a.logo(href='javascript:;')
            img(src="/images/bs.png",class="img-responsive",style="width: 29px; height: 35px;")
          a.navbar-brand(href='javascript:;')=title
        #tips.small.pull-right.hidden-xs
          b tip:&nbsp;
          span

  form#queryForm
    div(data-trigger-editor-size)

      .container-fluid
        .row.clearfix
          - var titleSet = {ip: "ip", port: "port", db: "schema", user: "user", pass: "password"}
          .col-md-2.col-xs-3
              .input-group
                span.input-group-addon(title=titleSet.ip) #
                input.form-control(name="ip", value="10.205.105.80", placeholder=titleSet.ip)
          .col-md-2.col-xs-3
              .input-group
                span.input-group-addon(title=titleSet.port) :
                input.form-control(name="port", value="50000", placeholder=titleSet.port)
          .col-md-2.col-xs-6
              .input-group.pull-left.col-xs-6.col-md-12
                span.input-group-addon(title=titleSet.db) [ ]
                input.form-control(name="db", value="DB2_TEST", placeholder=titleSet.db)
          .col-md-2.col-xs-3
              .input-group
                span.input-group-addon(title=titleSet.user) @
                input.form-control(name="user", placeholder=titleSet.user)
          .col-md-2.col-xs-3
              .input-group
                span.input-group-addon(title=titleSet.pass) ?
                input.form-control(name="password", type="password", placeholder=titleSet.pass)
          .col-md-2.col-xs-6
            p
              //-input(type="submit", style="position: absolute; left: -9999px; width: 1px; height: 1px;")
              button#queryBtn.btn.btn-default.pull-right.btn-success(type="submit") Execute&nbsp;&nbsp;&nbsp;
                span.glyphicon.glyphicon-play

      .container-fluid
        .row.clearfix
          .col-lg-12
            p 
              #code-editor
                | 
                | -- WARNING: DUPLICATED COLUMN NAMES ARE BEING SUPPRESSED
                | -- (ODBC dependency bug)        
                | 
                | select * from sysibm.systables
                | where owner = 'DBPROD'
                | and type = 'T'
                | order by children desc, name asc
                | fetch first 100 rows only


    .container-fluid   
      .row.clearfix
        .col-xs-12
          #result.clearfix.overflowable(data-is-height-filler)

  script(src='/addins/jquery-cycle2/build/jquery.cycle2.min.js')
  script(src='/addins/ace-builds/src-min-noconflict/ace.js')
  script(src='/addins/ace-builds/src-min-noconflict/ext-language_tools.js')
  script(src='/javascripts/Data2HTMLResultBuilder.js')
  script(src='/javascripts/AppNotifier.js')
  script(src='/javascripts/index.js')
