extends layout


block content

  .navbar.navbar-default.navbar-fixed-top.bottom-shadow(role='navigation')
    .container-fluid
        .navbar-header
          a.logo(href='javascript:;')
            img(src="/images/bs.png",class="img-responsive",style="width: 29px; height: 35px;")
          a.navbar-brand(href='javascript:;')=t('app.name')
        #tips.small.pull-right.hidden-xs
          b !{t("editor.ui.labels.tip")}:&nbsp;
          span

  form#queryForm
    div(data-trigger-editor-size)

      .container-fluid
        .row.clearfix
          - var defaultValues = config.get("editor.defaultValues") || {};
          - var placeholders = {ip: "127.0.0.1", port: ":50000", db: "SQL_DATABASE", user: "blazingsquirrel", pass: "******"}
          .col-md-2.col-xs-3
              .input-group
                span.input-group-addon(title=t('editor.ui.labels.ip')) 
                  span.glyphicon.glyphicon-globe
                input.form-control(name="ip", value=defaultValues.ip || '', placeholder=placeholders.ip)
          .col-md-2.col-xs-3
              .input-group
                span.input-group-addon(title=t('editor.ui.labels.port')) :
                input.form-control(name="port", value=defaultValues.port || '', placeholder=placeholders.port)
          .col-md-2.col-xs-6
              .input-group.pull-left.col-xs-6.col-md-12
                span.input-group-addon(title=t('editor.ui.labels.databaseName')) [ ]
                input.form-control(name="db", value=defaultValues.database || '', placeholder=placeholders.db)
          .col-md-2.col-xs-3
              .input-group
                span.input-group-addon(title=t('editor.ui.labels.dbUser'))
                  span.glyphicon.glyphicon-user
                input.form-control(name="user", placeholder=placeholders.user)
          .col-md-2.col-xs-3
              .input-group
                span.input-group-addon(title=t('editor.ui.labels.dbPassword')) ?
                input.form-control(name="password", type="password", placeholder=placeholders.pass)
          .col-md-2.col-xs-6
            p
              //-input(type="submit", style="position: absolute; left: -9999px; width: 1px; height: 1px;")
              button#queryBtn.btn.btn-default.pull-right.btn-success(type="submit") !{t('editor.ui.buttons.execute')}&nbsp;&nbsp;&nbsp;
                span.glyphicon.glyphicon-play

      .container-fluid
        .row.clearfix
          .col-lg-12
            p 
              #code-editor
                | 
                | -- WARNING: DUPLICATED COLUMN NAMES ARE BEING SUPPRESSED
                | -- (ODBC dependency bug)        
                | 
                | select * from sysibm.systables
                | where owner = 'DBPROD'
                | and type = 'T'
                | order by children desc, name asc
                | fetch first 100 rows only


    .container-fluid   
      .row.clearfix
        .col-xs-12
          #result.clearfix.overflowable(data-is-height-filler)

  script.

    var APP_TIPS = [
      '!{t("editor.tips.desktopNotifications")}',
      '!{t("editor.tips.shortcut_shift_scroll")}',
      '!{t("editor.tips.shortcut_ctrl_enter")}',
      '!{t("editor.tips.shortcut_ctrl_space")}',
      '!{t("editor.tips.shortcut_ctrl_slash")}'
    ];

    var APP_MSGS = {
      "RESPONSE_RECEIVED":      '!{t("editor.msgs.responseReceived")}',
      "NO_CONNECTION":          '!{t("editor.msgs.noConnection")}',
      "RENDERING":              '!{t("editor.msgs.rendering")}',
      "NO_REGISTER":            '!{t("editor.msgs.noRegister")}',
      "UNDEFINED_DRIVER_ERROR": '!{t("editor.msgs.undefinedDriverError")}',
      "PREPARING_PRESENTATION": '!{t("editor.msgs.preparingPresentation")}',
      "EXECUTING":              '!{t("editor.msgs.executing")}',
      "ERROR":                  '!{t("editor.msgs.Error")}',
      "REGISTERS":              '!{t("editor.msgs.registers")}',
    };

  script(src='/addins/ace-builds/src-min-noconflict/ace.js')
  script(src='/addins/ace-builds/src-min-noconflict/ext-language_tools.js')
  script(src='/javascripts/Data2HTMLResultBuilder.js')
  script(src='/javascripts/AppNotifier.js')
  script(src='/javascripts/index.js')